<% @bg_url = '../images/home-bg1.jpg' %>
<%= render 'layouts/bg_img' %>

<div class="jumbotron jumbo-clear text-center vertical-center">
  <div class="container">
    <h1>DRC Digital</h1>
    <p>A collection of responsive, (mostly) bulletproof, custom designed and tested emails from the DRC&nbsp;Dev&nbsp;Team.</p>
    <%= link_to 'View the Gallery', etemplates_path, :class => "btn btn-clear" %>
  </div>
</div>