<div class="footer">
  <div class="container-fluid">
    <div class="left">&copy; <%= Time.now.year  %> DRC Dev Team</div>
    <div class="right">
      <a href="https://www.facebook.com/groups/DRC.DevTeam/">Facebook</a> |
      <a href="https://twitter.com/DRC_DevTeam">Twitter</a> |
      <a href="https://github.com/DRCdevteam">GitHub</a> |
      <a href="http://codepen.io/DRC-DevTeam/">Codepen</a>
    </div>
  </div>
</div>